<h2>Editar Reserva</h2>

<%= form_with(model: @reserva, local: true) do |form| %>
  <div>
    <%= form.label :fecha, "Fecha de la reserva" %><br>
    <%= form.date_field :fecha, value: @reserva.fecha %>
  </div>

  <div>
    <%= form.label :usuario_id, "Usuario ID" %><br>
    <%= form.number_field :usuario_id, value: @reserva.usuario_id %>
  </div>

  <div>
    <%= form.label :opcion_id, "Opción ID" %><br>
    <%= form.number_field :opcion_id, value: @reserva.opcion_id %>
  </div>

  <div>
    <%= form.submit "Actualizar Reserva" %>
  </div>
<% end %>

<%= link_to "Volver", reservas_path %>
